.d1{
    display: flex;
    flex-basis: 100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background: rgb(4,36,0);
    background: radial-gradient(circle, rgba(4,36,0,1) 0%, rgba(143,20,200,1) 95%);
    color: white;
    flex-direction: column-reverse;
    margin: 0px;
    padding: 0px;
}
.s2{
    display: flex;
    flex-basis:100%;
    justify-content: center;
    color: white;
    background: rgb(4,36,0);
    background: radial-gradient(circle, rgba(4,36,0,1) 0%, rgba(143,20,200,1) 95%);
    height: 60vh;
    font-size: 20px;
}
.d2{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px 500px;   
}
.d3{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px 500px;
}
.s3{
    display:flex;
    justify-content: center;
    font-size: 20px;
    
}
span{
    font-size: 15px;
}
.d4{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px 500px;
}
.s4{
    display:flex;
    justify-content: center;
    font-size: 20px;
}
.line{
    border:solid grey 2px;
}
u{
    color: #8f14c8
}
.line1{
    border:solid grey 2px;
}
.d5{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 300px 500px;
}
.s5{
    display:flex;
    justify-content: center;
    font-size: 20px;
}

.d6{
    color: white;
    text-align: center;
    font-size: 30px;
}

nav {
    position: sticky;  /* Use sticky positioning */
    z-index: 10;       /* Keeps the navbar on top of other content */
    top: 0;            /* Sticks the navbar to the top */
    left: 0;
    right: 0;
    background: rgb(4,36,0);
    background: radial-gradient(circle, rgba(4,36,0,1) 0%, rgba(143,20,200,1) 95%);
    padding: 10px 0;   /* Adjust padding for better appearance */
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar{    
    display: flex;
    flex-direction: column;
    background: rgb(4,36,0);

}
nav a:hover{
    color: #8f14c8;
}
.ff a{
  color:#8f14c8;
}
.s6{    
    color: white;
    background-color:#8f14c8;
    padding: 0px;
    margin: 0px;
    height: 730px;
    
}
h1{
    margin-top: 10px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: 700px 700px;
    gap: 100px;  
}

.box{ 
   margin-left: 30px;
   margin-top: 50px;
   width: 700px;
   background-color:pink;
   height: 445px;
   display: flex;
   justify-content: center;
   box-shadow: 10px 20px 3px black;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    position: relative;
    bottom: 5px; 
}
.input{
    width: 400px;
    height: 50px;
    border-radius: 50px;
    padding-left: 25px;
}
.form textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.form button{ 
    width: 100px;
    padding-right: 25px;   
}

.svg a{
    color: black;
}
.ii{
    color: black;
    font-size: 20px;
}
.svg{
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
@media screen  and (max-width:600px){
    *{
        width: auto;
    }
    .d1{
        width: 100%;
    }
  
    .d1 h1{
    font-size:50px ;
   }
   .navbar a{
    font-size: 20px;
   }

   .d2{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
   }
   .s2{
    height: 500px;
   }
   .d2 img{
    border-radius: 30px;
    height: 200px;
   }

   .d2 p,b{
    font-size:14px;
    width: 400px;
    padding: 30px;
    
   }
   .d3,.d4,.d5{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-bottom: 40px;
    gap: 20px;
   }
   .d4{
    padding:20px
   }
   .box{
    width: 300px; 
    border-radius: 20px;
    padding: auto;
   }
   .input{
    width: 250px;
   }
   .grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px 20px 20px;
   }
   .s6{
    height: auto;
    
   }
   .gg{
    display: flex;
    justify-content: center;
    gap: 10px;
   }
   

}
